<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <link rel="shortcut icon" href="~/Content/themes/vone/images/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>مدیر سنجاب: @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/admin")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="sidemenu tie-menu">
        @Html.Partial("_SideMenu")
    </div>
    <div class="header-con tie-menu">
        <div class="container-fluid">
            <div class="row header">
                @Html.Partial("_Header")
            </div>
        </div>
    </div>
    <div class="mainpart-con tie-menu">
        <div class="container-fluid">
            <div class="row mainpart">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="secondry-content tie-secondry">
        @Html.Partial("_SecondryContents")
    </div>

    <script type="text/javascript">
        $(function () {
            var windowHieght = window.innerHeight;
            $('.mainpart').css('min-height', windowHieght - 65 + 'px');
        });
    </script>
</body>
</html>
