@model Squirrel.Domain.ViewModels.AccountLoginModel

@{
    ViewBag.Title = "ورود به سایت";
}


<div class="col-md-6 col-md-push-3">
    <div class="col-xs-12">
        <div class="login-con flatbox-shadow">
            <div class="topic">ورود به پنل نویسنده</div>

            @using (Html.BeginForm("login", "account", new { returnUrl = ViewBag.ReturnUrl }))
            {
                @Html.AntiForgeryToken()

                <div>
                    <div class="materialtext">
                        <div class="title">نام کاربری</div>
                        @Html.TextBoxFor(m => m.Username, new { @class = "textbox", @tabindex = "1" })
                    </div>
                    <div class="material-validation">
                        @Html.ValidationMessageFor(m => m.Username)
                    </div>
                </div>

                <div class="divider-blank30"></div>

                <div>
                    <div class="materialtext">
                        <div class="title">کلمه عبور</div>
                        @Html.PasswordFor(m => m.Password, new { @class = "textbox", @tabindex = "2" })
                    </div>
                    <div class="material-validation">
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>

                <div class="divider-blank50"></div>

                <div class="add-comment-submit">
                    <button class="button" type="submit" tabindex="3">ورود</button>
                </div>

                if (ViewBag.ErrorMessage != null)
                {
                    <div class="divider-blank30"></div>
                    <div class="material-validation">
                        @ViewBag.ErrorMessage
                    </div>
                }
            }
        </div>
    </div>
</div>


