@model Squirrel.Domain.ViewModels.TopicPublishedSearchModel

@using (Ajax.BeginForm("Archive", "Issues", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSearchInArchiveSuccess" }, new { id = "archive_search_from" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("searchPage", 1)
    @Html.HiddenFor(m => m.Author)
    @Html.HiddenFor(m => m.AuthorId)
    @Html.HiddenFor(m => m.Category)
    @Html.HiddenFor(m => m.CategoryId)
    @Html.HiddenFor(m => m.PublishDateFrom)
    @Html.HiddenFor(m => m.PublishDateTo)
    
    @Html.TextBoxFor(m => m.SeachText, new { placeholder = "عبارت" })
    <button type="submit">جستجو</button>
}
