@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Utility.Helpers
@model List<Squirrel.Domain.Enititis.Topic>

@{
    var counter = 0;
}

@foreach (var topic in Model)
{
    var item = topic;
    var imageAddress = item.ImageAddress();
    counter++;

    <div class="item">
        @if (imageAddress.IsNotEmpty())
        {
            <a class="image" href="@Url.Action("Index", "Issue", new { id = item.IssueId })">
                <img src="@Url.Content(imageAddress)" alt="@item.Title" />
            </a>
        }

        <a class="title" href="@Url.Action("Index", "Issue", new { id = item.IssueId })">
            @Html.DisplayFor(m => item.Title)
        </a>
    </div>

    if (counter != Model.Count)
    {
        <div class="hline-full"></div>
    }
}