@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.FileAddModel

<div class="topic-row">
    افزودن فایل
</div>
<div class="divider-blank15"></div>
<div id="upload_file_con">
    @Html.Partial("Upload")
</div>

@using (Ajax.BeginForm("Add", "Files", null,
    new AjaxOptions { OnFailure = "onAddFileError", OnSuccess = "onAddFileSuccess" },
    new { id = "file_add_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.FileAddress)

    <div class="form-row">
        <div class="validation">
            @Html.ValidationMessageFor(m => m.FileAddress)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Category)
        @Html.TextBoxFor(m => m.Category, new { @class = "textbox small", @id = "category_add" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Category)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.IsPublic)
        @Html.DropDownListFor(m => m.IsPublic, SelectListExtensions.SelectListOfBool("عمومی", "اختصاصی"), new { @class = "select small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.IsPublic)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">افزودن</button>
        <a class="button small" onclick="hideAndClearSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#file_add_form");
        $("#file_add_form").data("validator").settings.ignore = "";

        $('#FileAddress').bind('change', function () {
            $(this).valid();
        });

        $("#category_add").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("CategoryJson", "Files")",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                            };
                        }));
                    },
                });
            },
            minLength: 2,
        });
    });
</script>