@using Squirrel.Domain.Enititis
@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model Squirrel.Domain.Enititis.File

<div class="detail-row">
    <span class="title">نام :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Name)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">گروه :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Category)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">وضعیت :</span>
    <span class="value">
        @(Model.IsPublic ? "عمومی" : "خصوصی")
    </span>
</div>
<div class="divider-blank15"></div>
<div>
    <button class="button small submit" onclick="loadEditFile()">ویرایش</button>
</div>

<div class="divider-blank50"></div>

<div class="topic-row">
    اطلاعات فایل
</div>
<div class="divider-blank15"></div>
@if (Model.Type == FileType.Image)
{
    <div class="image-row">
        <img src="@Url.Content(Model.Address)" />
    </div>
    <div class="divider-blank10"></div>
}
<div class="detail-row">
    <span class="title">نام فایل :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Filename)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">آیدی :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Id)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">نوع :</span>
    <span class="value">
        @Model.Type.Description()
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">سایز :</span>
    <span class="value">
        @Model.Size.ToByteUnit().FaDigit()
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">آدرس :</span>
</div>
<div class="detail-row" style="direction: ltr;">
    <span class="value">
        @Url.Content(Model.Address)
    </span>
</div>
<div class="divider-blank15"></div>
<div>
    <button class="button small submit" onclick="loadReplaceFile()">جایگزینی فایل</button>
</div>

<div class="divider-blank50"></div>

<div class="topic-row">
    اطلاعات تکمیلی
</div>
<div class="divider-blank15"></div>
<div class="detail-row">
    <span class="title">تاریخ ساخت :</span>
    <span class="value">
        @Model.CreateDate.ToPersianDate().ToStringDateTime().FaDigit()
    </span>
</div>
@if (Model.EditDate.HasValue)
{
    <div class="divider-blank10"></div>
    <div class="detail-row">
        <span class="title">تاریخ ویرایش :</span>
        <span class="value">
            @Model.EditDate.Value.ToPersianDate().ToStringDateTime().FaDigit()
        </span>
    </div>
}
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">کاربر :</span>
    <span class="value">
        @Model.User.ShowName()
    </span>
</div>
<div class="divider-blank15"></div>
<div>
    <button class="button small error" onclick="loadDeleteFile()">حذف</button>
</div>

<div id="edit_file_form_con" style="display: none;">
    @Html.Partial("Edit", new FileEditModel
    {
        Id = Model.Id,
        Category = Model.Category,
        IsPublic = Model.IsPublic,
        Name = Model.Name,
    })
</div>

<div id="replace_file_form_con" style="display: none;">
    @Html.Partial("Replace", new FileReplaceModel
    {
        Id = Model.Id,
    })
</div>

<div id="remove_file_form_con" style="display: none;">
    @Html.Partial("Delete", new FileDeleteModel
    {
        Id = Model.Id,
        FullFilePath = ViewBag.FullPathFileAddress
    })
</div>