@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.FileEditModel

@Html.Partial("_Message")

@using (Ajax.BeginForm("Edit", "Files", null, new AjaxOptions { UpdateTargetId = "option_con_2" }, new { id = "file_details_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <p class="form-group">
        @Html.LabelFor(m => m.Name)
        <br />
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </p>

    <p class="form-group">
        @Html.LabelFor(m => m.Category)
        <br />
        @Html.TextBoxFor(m => m.Category, new { id = "category_edit" })
        @Html.ValidationMessageFor(m => m.Category)
    </p>

    <p class="form-group">
        @Html.LabelFor(m => m.IsPublic)
        <br />
        @Html.DropDownListFor(m => m.IsPublic, SelectListExtensions.SelectListOfBool("عمومی", "اختصاصی"))
        @Html.ValidationMessageFor(m => m.IsPublic)
    </p>

    <p>
        <button type="submit" class="btn btn-default">ویرایش</button>
        <button type="button" class="btn btn-default" onclick="$('#option_con_2').html('');">انصراف</button>
    </p>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#file_details_form");
        $("#file_details_form").data("validator").settings.ignore = "";

        $('#FileAddress').bind('change', function () {
            $(this).valid();
        });

        $("#category_edit").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("CategoryJson", "Files")",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                            };
                        }));
                    },
                });
            },
            minLength: 2,
        });
    });
</script>