@{
    ViewBag.Title = "مدیریت فایل";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    @Html.Partial("SearchFilter")
</div>

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    <div id="searchresult_list_con"></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/Autocomplete")

    <script type="text/javascript">
        $(function () {
            searchingFile(1);
        });

        function reloadSearchingFile() {
            $('#file_search_from').submit();
        }

        function searchingFile(page) {
            $('#searchPage').val(page);
            $('#file_search_from').submit();
        }

        function loadAddFile() {
            $.ajax({
                url: '@Url.Action("add")',
                error: function () {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام بارگذاری فرم افزودن فایل خطا رخ داد.', 'error');
                },
                success: function (r) {
                    fillSecondryContent(r);
                    showSecondryContent();
                }
            });
        }

        function onAddFileError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام افزودن فایل خطا رخ داد.', 'error');
        }

        function onAddFileSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                searchingFile(1);
                hideAndClearSecondryContent();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadFileDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Files")',
                data: { id: id },
                error: function () {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام دریافت اطلاعات فایل خطا رخ داد.', 'error');
                },
                success: function (data) {
                    fillSecondryContent(data);
                    showSecondryContent();
                }
            });
        }

        function loadEditFile() {
            checkpointSecondryContent();
            fillSecondryContent($('#edit_file_form_con').html());
            showSecondryContent();
        }

        function onEditFileError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام ویرایش فایل خطا رخ داد.', 'error');
        }

        function onEditFileSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                reloadSearchingFile();
                loadFileDetails(data.id);
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadReplaceFile() {
            checkpointSecondryContent();
            fillSecondryContent($('#replace_file_form_con').html());
            showSecondryContent();
        }

        function onReplaceFileError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام جایگزینی فایل خطا رخ داد.', 'error');
        }

        function onReplaceFileSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                reloadSearchingFile();
                loadFileDetails(data.id);
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadDeleteFile() {
            showPopupAlert("آیا مطمئن هستید که این فایل پاک شود", '$("#delete_file_form").submit();', '');
        }

        function onDeleteFileError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام حذف فایل خطا رخ داد.', 'error');
        }

        function onDeleteFileSuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                reloadSearchingFile();
                hideAndClearSecondryContent();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }
    </script>
}