@{
    ViewBag.Title = "مدیریت فایل";
}

<h2>فایل ها</h2>
<hr />

<div class="col-lg-6">
    <div>
        <button type="button" class="btn btn-default" onclick="LoadAddFile()">+</button>
    </div>
    <br />
    @Html.Partial("SearchFilter")
    <div id="list_con"></div>
</div>

<div class="col-lg-6">
    <div id="option_con_1"></div>
    <div id="option_con_2"></div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/Autocomplete")

    <script type="text/javascript">
    $(function () {
        LoadList(1);
    });

    function ReloadList() {
        $('#file_search_from').submit();
    }

    function LoadList(page) {
        $('#searchPage').val(page);
        $('#file_search_from').submit();
    }

    function LoadAddFile() {
        $.ajax({
            url: '@Url.Action("add")',
            success: function (r) {
                $('#option_con_2').html('');
                $('#option_con_1').html(r);
            }
        });
    }

    function LoadUpload() {
        $.ajax({
            url: '@Url.Action("resetupload")',
            success: function (r) {
                $('#upload_file_con').html(r);
            }
        });
    }

    function LoadDetailsPure(id) {
        $.ajax({
            url: '@Url.Action("Details", "Files")',
            data: { id: id },
            success: function (r) {
                $('#option_con_1').html(r);
                $('#option_con_2').html('');
            }
        });
    }

    function LoadDetails(id) {
        $.ajax({
            url: '@Url.Action("Details", "Files")',
            data: { id: id },
            success: function (r) {
                $('#option_con_1').html(r);
            }
        });
    }

    function LoadEdit(id) {
        $.ajax({
            url: '@Url.Action("Edit", "Files")',
            data: { id: id },
            success: function (r) {
                $('#option_con_2').html(r);
            }
        });
    }

    function CompleteEdit(id) {
        ReloadList();
        LoadDetails(id);
    }

    function LoadDelete(id) {
        $.ajax({
            url: '@Url.Action("Delete", "Files")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function CompleteDelete() {
            ReloadList();
            $('#option_con_1').html('');
        }

        function LoadReplace(id) {
            $.ajax({
                url: '@Url.Action("Replace", "Files")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }
    </script>
}