@using Squirrel.Domain.ViewModels
@model List<Squirrel.Domain.Enititis.File>

<table class="table">
    <tbody>
        @foreach (var file in Model)
        {
            var item = file;
            <tr>
                <td>
                    <span style="border-bottom: 1px solid;" onclick="LoadDetailsPure('@file.Id')">
                        @Html.DisplayFor(m => item.Name)
                    </span>
                </td>
                <td>@Html.DisplayFor(m => item.Filename)</td>
                <td>@Html.DisplayFor(m => item.Category)</td>
                <td>
                    @if (item.IsPublic)
                    {
                        <span class="isnotadmin" style="display: none;" onclick="">Private</span>
                        <span class="isadmin" onclick="">Public</span>
                    }
                    else
                    {
                        <span class="isnotadmin" onclick="">Private</span>
                        <span class="isadmin" style="display: none;" onclick="">Public</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Paging != null)
{
    @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
}
