@using Squirrel.Domain.ViewModels
@model List<Squirrel.Domain.Enititis.File>

<div class="flatbox">
    @if (Model.Any())
    {
        <table class="table hover-row">
            <thead>
                <tr>
                    <th>نام</th>
                    <th>نام فایل</th>
                    <th>گروه</th>
                    <th>دسترسی</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    var item = file;
                    <tr onclick="loadFileDetails('@item.Id')">
                        <td>@Html.DisplayFor(m => item.Name)</td>
                        <td style="direction: ltr;text-align: right;">
                            @Html.DisplayFor(m => item.Filename)
                        </td>
                        <td>@Html.DisplayFor(m => item.Category)</td>
                        <td>
                            <span>
                                @(item.IsPublic ? "عمومی" : "خصوصی")
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        if (ViewBag.Paging != null)
        {
            <div class=divider-blank30></div>
            @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
        }
    }
    else
    {
        <div class="no-content">
            موردی وجود ندارد.
        </div>
    }
</div>