@using Squirrel.Domain.Enititis
@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.Helpers
@model List<Squirrel.Domain.Enititis.File>

@{
    FileRequestModel filterModel = ViewBag.RequestFileFilter;
}

@using (Ajax.BeginForm("Popup", "Files", null, new AjaxOptions { OnSuccess = "onPagingSuccess" }, new { id = "popup_file_form" }))
{
    <div>
        @Html.HiddenFor(m => filterModel.Page, new { id = "popup_file_filter_page" })
        @Html.HiddenFor(m => filterModel.IsFixedType)
        @Html.HiddenFor(m => filterModel.TargetKey)

        @Html.TextBoxFor(m => filterModel.Name, new { id = "popup_file_filter_name", placeholder = "Name" })
        @Html.TextBoxFor(m => filterModel.Category, new { id = "popup_file_filter_category", placeholder = "Category" })

        @if (filterModel.IsFixedType)
        {
            @Html.HiddenFor(m => filterModel.Type)
        }
        else
        {
            @Html.DropDownListFor(m => filterModel.Type, typeof(FileType).ToSelectList(true), new { id = "popup_file_filter_type" })
        }

        <button type="submit" onclick="$('#popup_file_filter_page').val(1);">Search</button>
    </div>
}

<table id="popupfile_resulttbl" style="width: 100%;">
    <tbody>
        @{
            var counter = 0;
            while (counter < Model.Count)
            {
                <tr>
                    @for (var j = 0; j < 3 && counter < Model.Count; j++)
                    {
                        var item = Model[counter];
                        <td style="padding: 5px;">
                            <div style="background-color: #eee; padding: 10px;"
                                 onclick="ChoosedFile(this,'@Model[counter].Id', '@Model[counter].Name', '@Model[counter].Address')" class="choosedfile">
                                @Html.DisplayFor(m => item.Name)
                            </div>
                        </td>
                        counter++;
                    }
                </tr>
            }
        }
    </tbody>
</table>

<script type="text/javascript">
    function LoadPopupFileList(page) {
        $('#popup_file_filter_page').val(page);
        $('#popup_file_form').submit();
    }

    function ChoosedFile(e, id, name, address) {
        $.event.trigger({
            type: '@string.Format("on{0}Choice",filterModel.TargetKey)',
            id: id,
            name: name,
            address: address,
            element: e,
        });

        $('.choosedfile').css('background-color', '#eee');
        $(e).css('background-color', '#ddd');
    }

    function onPagingSuccess(data) {
        $.event.trigger({
            type: '@string.Format("on{0}Pager", filterModel.TargetKey)',
            content: data,
        });
    }
</script>

@if (ViewBag.Paging != null)
{
    @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
}