@model Squirrel.Domain.ViewModels.FileReplaceModel

<div class="topic-row">
    جایگزینی فایل
</div>
<div class="divider-blank15"></div>
<div id="upload_file_con">
    @Html.Partial("Upload")
</div>


@using (Ajax.BeginForm("Replace", "Files", null,
    new AjaxOptions { OnFailure = "onReplaceFileError", OnSuccess = "onReplaceFileSuccess" },
    new { id = "replace_file_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.FileAddress)

    <div class="form-row">
        <div class="validation">
            @Html.ValidationMessageFor(m => m.FileAddress)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">ثبت</button>
        <a class="button small" onclick="restoreSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#replace_file_form");
        $("#replace_file_form").data("validator").settings.ignore = "";

        $('#FileAddress').bind('change', function () {
            $(this).valid();
        });
    });
</script>