@using Squirrel.Domain.Enititis
@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@model ProfileModelOverrided

<div class="form-con">
    @if (!Model.IsNullProfile)
    {
        <div class="detailsrow">
            <div class="avatar">
                @if (Model.Avatar == null)
                {
                    <span class="glyphbox" onclick="loadImagesPopup()">&#xe605</span>
                }
                else
                {
                    <img src="@Url.Content(Model.Avatar.Address)" onclick="loadImagesPopup()" />
                }
            </div>
        </div>
        <div class="divider-blank15"></div>
        <div class="detailsrow">
            <span class="topic">تاریخ ایجاد :</span>
            @Model.CreateDate.ToPersianDate().ToStringDateTime().FaDigit()
        </div>
        if (Model.EditDate.HasValue)
        {
            <div class="divider-blank15"></div>
            <div class="detailsrow">
                <span class="topic">تاریخ ویرایش :</span>
                @Model.EditDate.Value.ToPersianDate().ToStringDateTime().FaDigit()
            </div>
        }
        <div class="divider-blank15"></div>
        <div class="detailsrow">
            <span class="topic">نام :</span>
            @Html.DisplayFor(m => m.Firstname)
        </div>
        <div class="divider-blank15"></div>
        <div class="detailsrow">
            <span class="topic">نام خانوادگی :</span>
            @Html.DisplayFor(m => m.Lastname)
        </div>
        <div id="profile_edit_button">
            <div class="divider-blank15"></div>
            <div>
                <button type="button" class="button small submit" onclick="loadEditProfile()">ویرایش</button>
            </div>
        </div>
        <div id="profile_edit_form_con" style="display: none;">
            <div class="divider-blank30"></div>
            <div class="full-line"></div>
            <div class="input-con">
                @Html.Partial("Edit", new ProfileEditModel { Firstname = Model.Firstname, Lastname = Model.Lastname })
            </div>
        </div>
    }
    else
    {
        <div class="detailsrow">
            <span class="topic">تاریخ ایجاد :</span>
            @Model.CreateDate.ToPersianDate().ToStringDateTime().FaDigit()
        </div>
        <div id="profile_edit_button">
            <div class="divider-blank15"></div>
            <div>
                <button type="button" class="button small submit" onclick="loadEditProfile()">ایجاد پروفایل</button>
            </div>
        </div>
        <div id="profile_edit_form_con" style="display: none;">
            <div class="divider-blank30"></div>
            <div class="full-line"></div>
            <div class="input-con">
                @Html.Partial("Edit", new ProfileEditModel())
            </div>
        </div>
    }
</div>

@Html.Partial("Avatar", new ProfileAvatarModel())

<script type="text/javascript">
    var profileAvatarImage = '@Guid.NewGuid()';
    $(function () {
        $(document).on('onFilePopupChoice', profileAvatarChoiceHandler);
    });

    function loadImagesPopup() {
        loadPopupFileChioce_FixedType(profileAvatarImage, 'عکس مورد نظر خود را انتخاب کنید.', '@FileType.Image', 1);
    }

    function profileAvatarChoiceHandler(e) {
        if (profileAvatarImage == e.popupId) {
            $('#AvatarId').val(e.id);
            $('#profile_avatar_form').submit();
        }
    }
</script>