@using Squirrel.Utility.FarsiTools
@using Squirrel.Web.Models
@model List<Squirrel.Domain.Enititis.Topic>

@{
    var pageCount = (CachedAppData.LastPublishedTopics.Items.Count / 5) + 1;
    if (CachedAppData.LastPublishedTopics.Items.Count % 5 == 0)
    {
        pageCount--;
    }
    var currentPage = 1;
    if (ViewBag.CurrentPage != null)
    {
        currentPage = ViewBag.CurrentPage;
    }
}

@* ReSharper disable once AccessToModifiedClosure *@
@foreach (var topic in Model)
{
    @Html.Partial("Index_TopicItem", topic)
}

<div class="pager">
    @for (var i = 0; i < pageCount; i++)
    {
        if ((i + 1) == currentPage)
        {
            <span class="page current">@((i + 1).FaDigit())</span>
        }
        else
        {
            <a class="page" onclick="onChangeLastTopicsPage(@(i+1))" href="#t_page">
                @((i + 1).FaDigit())
            </a>
        }
    }
    <a class="page glyphbox" href="@Url.Action("Archive", "Issues")">&#xe632</a>
</div>

<script type="text/javascript">
    function onChangeLastTopicsPage(p) {
        $.ajax({
            url: '@Url.Action("LastTopics", "Home")',
            data: { page: p },
            success: function (r) {
                $('#home_lasttopics_con').html(r);
            },
        });
    }
</script>