@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model Squirrel.Domain.Enititis.Topic

@{
    var imageAddress = Model.ImageAddress();
}

<div class="topic-con flatbox-shadow">
    <div class="category">
        <span class="rightline"></span>
        <a class="text" href="@Url.Action("Category", "Issues", new { id = Model.Category.Name })">
            @Html.DisplayFor(m => m.Category.Name)
        </a>
        <span class="leftline"></span>
    </div>
    <a class="title" href="@Url.Action("Index", "Issue", new { id = Model.IssueId })">
        @Html.DisplayFor(m => m.Title).FaDigit()
    </a>
    <a class="image" href="@Url.Action("Index", "Issue", new { id = Model.IssueId })">
        @if (imageAddress.IsNotNothing())
        {
            <img src="@Url.Content(imageAddress)" alt="@Model.Title" />
        }
    </a>

    @if (Model.Abstarct().IsNotNothing())
    {
        <div class="abstract hidden-xs">
            @Model.Abstarct()
        </div>
    }

    <div class="author">
        @if (Model.PublishDate.HasValue)
        {
            PersianDate publishDate = Model.PublishDate.Value;
            <span>
                @Html.DisplayFor(m => publishDate.Year).FaDigit()
                ،
                @Html.DisplayFor(m => publishDate.Day).FaDigit()
                @PersianDateTools.JalaliMonth(publishDate.Month)
            </span>
        }
        توسط
        <a class="name" href="@Url.Action("User", "Issues", new { id = Model.Owner.Username })">
            @Model.Owner.ShowName()
        </a>
    </div>

    <div class="continue">
        <a class="glyphbox" href="@Url.Action("Index", "Issue", new { id = Model.IssueId })">
            &#xe688
        </a>
    </div>
</div>