@model Squirrel.Domain.ViewModels.CommentAddModel

<div class="topic-row">
    ثبت پاسخ
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("Add", "Comments", null, new AjaxOptions { OnSuccess = "onAnswerCommentSuccess" }, new { id = "answer_comment_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ParentId)
    @Html.HiddenFor(m => m.PostId)

    <div class="form-row">
        @Html.LabelFor(m => m.Body)
        @Html.TextAreaFor(m => m.Body, new { @class = "textarea small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">ثبت</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse('#answer_comment_form');
    });
</script>