@model Squirrel.Domain.ViewModels.CommentEditModel

<div class="topic-row">
    ویرایش نظر
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("Edit", "Comments", null, new AjaxOptions { OnSuccess = "onEditCommentSuccess" }, new { id = "edit_comment_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-row">
        @Html.LabelFor(m => m.Body)
        @Html.TextAreaFor(m => m.Body, new { @class = "textarea small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">ثبت</button>
        <button type="button" class="button small" onclick="restoreSecondryContent()">انصراف</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse('#edit_comment_form');
    });
</script>