@using Squirrel.Domain.ViewModels
@model Squirrel.Domain.Enititis.Post
@{
    ViewBag.Title = "نظرات";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    @Html.Partial("PostDetails")
</div>

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    @Html.Partial("SearchFilter", new CommentSearchModel { PostId = Model.Id })
</div>

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="col-lg-12">
    <div id="list_con" class="row"></div>
</div>

<div id="add_comment_content" style="display: none;">
    @Html.Partial("Add", new CommentAddModel { PostId = Model.Id })
</div>

@section scripts
{
    <script type="text/javascript">
    $(function () {
        searchInComment(1);
    });

    function searchInComment(p) {
        $('#searchPage').val(p);
        $('#comment_search_from').submit();
    }

    function reloadSearchInComment() {
        $('#comment_search_from').submit();
    }

    function onSearchCommentBegin() {
        //$('#list_con').text("waiting ...");
    }

    function onSearchCommentError() {
        GlobalMessage(GetNowTimeFa(), 'در هنگام جستجو خطایی رخ داد.', 'error');
    }

    function onSearchCommentSuccess(data) {
        $('#list_con').html(data);
    }

    function loadAddComment() {
        fillSecondryContent($('#add_comment_content').html());
        $('#secondry_content').find('form#add_comment_form').attr('id', 'add_comment_form_mirror');
        $.validator.unobtrusive.parse("#add_comment_form_mirror");
        showSecondryContent();
    }

    function cancelAddComment() {
        hideAndClearSecondryContent();
    }

    function onAddCommentSuccess(data) {
        if (data.result == true) {
            GlobalMessage(GetNowTimeFa(), data.message, 'success');
            cancelAddComment();
            searchInComment(1);
        } else {
            GlobalMessage(GetNowTimeFa(), data.message, 'error');
        }
    }

    function markAsReadComment(id) {
        $.ajax({
            url: '@Url.Action("MarkAsRead")',
            data: { id: id },
            success: function (r) {
                if (r.result == true) {
                    GlobalMessage(GetNowTimeFa(), r.message, 'success');
                } else {
                    GlobalMessage(GetNowTimeFa(), r.message, 'error');
                }
            }
        });
    }

    function loadItem(e, id, isreaded) {
        $.ajax({
            url: '@Url.Action("Item")',
            data: { id: id },
            error: function () {
                GlobalMessage(GetNowTimeFa(), "در هنگام دریافت اطلاعات خطا رخ داد.", 'error');
            },
            success: function (r) {
                fillSecondryContent(r);
                showSecondryContent();
                if (isreaded == 'False') {
                    markAsReadComment(id);
                    $(e).removeClass('unread');
                }
            }
        });
    }

    function reloadItem(id) {
        $.ajax({
            url: '@Url.Action("Item")',
            data: { id: id },
            error: function () {
                GlobalMessage(GetNowTimeFa(), "در هنگام دریافت اطلاعات خطا رخ داد.", 'error');
            },
            success: function (r) {
                fillSecondryContent(r);
                showSecondryContent();
            }
        });
    }

    function ConfirmComment(e, id) {
        $.ajax({
            url: '@Url.Action("Confirm")',
            data: { id: id },
            success: function (r) {
                if (r.result == true) {
                    $(e).hide();
                    $(e).next().show();
                    reloadSearchInComment();
                    GlobalMessage(GetNowTimeFa(), r.message, 'success');
                    $('#comment_confirm_state').fadeOut(200);
                    $('#comment_edit_date').fadeOut(200);
                    setTimeout(function () {
                        $('#comment_confirm_state').text('بله');
                        $('#comment_confirm_state').fadeIn(200);
                        $('#comment_edit_date').text(toPersianDigits(r.date));
                        $('#comment_edit_date').fadeIn(200);
                    }, 200);
                } else {
                    GlobalMessage(GetNowTimeFa(), r.message, 'error');
                }
            }
        });
    }

    function UnconfirmComment(e, id) {
        $.ajax({
            url: '@Url.Action("Unconfirm")',
                data: { id: id },
                success: function(r) {
                    if (r.result == true) {
                        $(e).hide();
                        $(e).prev().show();
                        reloadSearchInComment();
                        GlobalMessage(GetNowTimeFa(), r.message, 'success');
                        $('#comment_confirm_state').fadeOut(200);
                        $('#comment_edit_date').fadeOut(200);
                        setTimeout(function() {
                            $('#comment_confirm_state').text('خیر');
                            $('#comment_confirm_state').fadeIn(200);
                            $('#comment_edit_date').text(toPersianDigits(r.date));
                            $('#comment_edit_date').fadeIn(200);
                        }, 200);
                    } else {
                        GlobalMessage(GetNowTimeFa(), r.message, 'error');
                    }
                }
            });
        }

        function loadEditComment() {
            checkpointSecondryContent();
            fillSecondryContent($('#comment_editform_con').html());
            showSecondryContent();
        }

        function onEditCommentSuccess(data) {
            if (data.result == true) {
                reloadItem(data.id);
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function onAnswerCommentSuccess(data) {
            if (data.result == true) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                reloadItem(data.id);
                reloadSearchInComment();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadRemoveComment() {
            showPopupAlert('آیا مطمئن هستید که این نظر پاک شود؟', '$("#remove_comment_form").submit();', '');
        }

        function onRemoveCommentSuccess(data) {
            if (data.result == true) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                hideAndClearSecondryContent();
                reloadSearchInComment();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }
    </script>
}

