@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.Enititis.Comment

@{
    var style = string.Empty;
    if (!Model.IsReaded)
    {
        style = "unread ";
    }
    if (!Model.IsConfirmed)
    {
        style += "unconfirm";
    }
}

<div class="flatbox comment-item @style" onclick="loadItem(this, '@Model.Id', '@Model.IsReaded.ToString()')">
    <div class="signs">
        <div class="glyphbox read">&#xe651</div>
        <div class="glyphbox confirm">&#xe66c</div>
    </div>

    <div class="detailsrow">
        <span class="topic">نام :</span>
        @if (Model.UserId.HasValue)
        {
            @Model.User.ShowName()
        }
        else
        {
            @Html.DisplayFor(m => m.Name)
        }
    </div>
    <div class="divider-blank10"></div>
    <div class="detailsrow">
        <span class="topic">تاریخ :</span>
        @Model.CreateDate.ToPersianDate().ToStringDateTime().FaDigit()
    </div>
    <div class="divider-blank10"></div>
    <div class="detailsrow body">
        <span class="topic">نظر :</span>
        @Html.DisplayFor(m => m.Body).FaDigit()
    </div>
    @if (Model.ParentId.HasValue)
    {
        <div class="divider-blank20"></div>
        <div class="commentrow">
            « در جواب نظر
            <span class="value">
                @if (Model.Parent.UserId.HasValue)
                {
                    @Model.Parent.User.ShowName()
                }
                else
                {
                    @Html.DisplayFor(m => m.Parent.Name)
                }
            </span>
            نوشته شده در
            <span class="value">
                @Model.Parent.CreateDate.ToPersianDate().ToStringDateTime().FaDigit()
            </span>
            »
        </div>
    }
</div>