@model Squirrel.Domain.ViewModels.LogCleanModel

<div class="topic-row">
    پاک کردن لاگ ها
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("Clean", "Logs", null,
    new AjaxOptions { OnFailure = "onCleanLogError", OnSuccess = "onCleanLogSuccess" }, 
    new { id = "log_clean_from" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.CleanPersianDateFrom)
    @Html.HiddenFor(m => m.CleanPersianDateTo)

    <div class="form-row">
        @Html.LabelFor(m => m.CleanPersianDateFrom)
        @Html.TextBox("dateform_cleanlog", null, new { @readonly = "readonly", @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CleanPersianDateFrom)
        </div>
    </div>
    <div class="divider-blank10"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.CleanPersianDateTo)
        @Html.TextBox("dateto_cleanlog", null, new { @readonly = "readonly", @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CleanPersianDateTo)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">پاک کردن</button>
        <a class="button small" onclick="hideAndClearSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#log_clean_from");
        $("#log_clean_from").data("validator").settings.ignore = "";
    });

    $('#dateform_cleanlog').MdPersianDateTimePicker({
        Placement: 'right', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: true, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
    });

    $('#dateform_cleanlog').on('change', function () {
        var dateVal = $(this).val();
        $('#CleanPersianDateFrom').val(toEnglishDigits(dateVal));
    });

    $('#dateto_cleanlog').MdPersianDateTimePicker({
        Placement: 'right', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: true, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
    });

    $('#dateto_cleanlog').on('change', function () {
        var dateVal = $(this).val();
        $('#CleanPersianDateTo').val(toEnglishDigits(dateVal));
    });
</script>