@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.Enititis.Log

<div class="detail-row">
    <span class="title">تاریخ :</span>
    <span class="value">
        @Model.CreateDate.ToPersianDate().ToStringDateTime(timeFormat: PersianTimeFormat.HH_MM_SS).FaDigit()
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">آدرس :</span>
</div>
<div class="detail-row" style="direction: ltr;">
    <span class="value">
        @Html.DisplayFor(m => m.Info.FullUrl)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">ایجکس است؟</span>
    <span class="value">
        @Model.IsAjax.ToPersian()
    </span>
</div>
@if (Model.UserId.HasValue)
{
    <div class="divider-blank10"></div>
    <div class="detail-row">
        <span class="title">کاربر :</span>
        <span class="value">
            @Html.DisplayFor(m => m.User.Username)
        </span>
    </div>
}

<div class="divider-blank50"></div>

<div class="topic-row">
    مراجعه
</div>
<div class="divider-blank15"></div>
<div class="detail-row">
    <span class="title">آی پی :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Info.Ip)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">پورت :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Info.Port)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">اطلاعات :</span>
</div>
<div class="detail-row" style="direction: ltr;">
    <span class="value">
        @Html.DisplayFor(m => m.Info.UserAgent)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">از :</span>
</div>
<div class="detail-row" style="direction: ltr;">
    <span class="value">
        @Html.DisplayFor(m => m.Info.ReferredUrl)
    </span>
</div>

@if (Model.ErrorId.HasValue)
{
    <div class="divider-blank50"></div>
    <div class="topic-row">
        خطا
    </div>
    <div class="divider-blank15"></div>
    <div class="detail-row">
        <span class="title">پست متد است؟</span>
        <span class="value">
            @Model.Error.IsPostMethod.ToPersian()
        </span>
    </div>
    <div class="divider-blank10"></div>
    <div class="detail-row">
        <span class="title">خط :</span>
        <span class="value">
            @Html.DisplayFor(m => m.Error.LineNumber).FaDigit()
        </span>
    </div>
    <div class="divider-blank10"></div>
    <div class="detail-row">
        <span class="title">پیام :</span>
    </div>
    <div class="detail-row" style="direction: ltr;">
        <span class="value">
            @Html.DisplayFor(m => m.Error.Message)
        </span>
    </div>
}