@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@model List<Squirrel.Domain.Enititis.Log>

<div class="flatbox">
    @if (Model.Any())
    {
        <table class="table hover-row">
            <thead>
                <tr>
                    <th></th>
                    <th>تاریخ</th>
                    <th>آدرس</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    var item = file;
                    <tr onclick="loadLogDetails('@item.Id')">
                        <td>
                            @if (item.ErrorId.HasValue)
                            {
                                @("!")
                            }
                        </td>
                        <td>
                            @item.CreateDate.ToPersianDate().ToStringDateTime(timeFormat:PersianTimeFormat.HH_MM_SS).FaDigit()
                        </td>
                        <td>
                            @string.Format("{0}/{1}/{2}", item.Area, item.Controller, item.Action)
                        </td>
                        <td>
                            @if (item.IsAjax)
                            {
                                @("Ajax")
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        if (ViewBag.Paging != null)
        {
            <div class=divider-blank30></div>
            @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
        }
    }
    else
    {
        <div class="no-content">
            موردی وجود ندارد.
        </div>
    }
</div>