@model Squirrel.Domain.ViewModels.CategoryAddModel

<div class="topic-row">
    افزودن گروه
</div>

@using (Ajax.BeginForm("Add", "Categories", null, new AjaxOptions { OnSuccess = "onAddCategorySuccess" }, new { id = "cat_ops_form" }))
{
    @Html.AntiForgeryToken()

    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "textbox" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Parent)
        @Html.TextBoxFor(m => m.Parent, new { id = "parent_add", @class = "textbox" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Parent)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "textarea" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">افزودن</button>
        <a class="button small" onclick="hideAndClearSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#cat_ops_form");

        $("#parent_add").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("NameJson", "Categories")",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id
                            };
                        }));
                    },
                    error: function() {
                        GlobalMessage(GetNowTimeFa(), 'خطا در یافتن گروه', 'error');
                    }
                });
            },
            minLength: 2,
        });
    })
</script>