@model Squirrel.Domain.ViewModels.CategoryAddModel

@Html.Partial("_Message")

@using (Ajax.BeginForm("Add", "Categories", null, new AjaxOptions { UpdateTargetId = "option_con_1" }, new { id = "cat_ops_form" }))
{
    @Html.AntiForgeryToken()

    <p class="form-group">
        @Html.LabelFor(m => m.Name)
        <br />
        @Html.TextBoxFor(m => m.Name)
        @Html.ValidationMessageFor(m => m.Name)
    </p>

    <p class="form-group">
        @Html.LabelFor(m => m.Parent)
        <br />
        @Html.TextBoxFor(m => m.Parent, new { id = "parent_add" })
        @Html.ValidationMessageFor(m => m.Parent)
    </p>

    <p class="form-group">
        @Html.LabelFor(m => m.Description)
        <br />
        @Html.TextAreaFor(m => m.Description)
        @Html.ValidationMessageFor(m => m.Description)
    </p>

    <p>
        <button type="submit" class="btn btn-default">افزودن</button>
    </p>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#cat_ops_form");

        $("#parent_add").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("NameJson", "Categories")",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id
                            };
                        }));
                    },
                    //error: function () { alert('خطا'); }
                });
            },
            minLength: 2,
        });
    })
</script>