@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.ViewModels.CategoryEditModel

<div class="topic-row">
    ویرایش گروه
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("Edit", "Categories", null, 
    new AjaxOptions { OnFailure = "onEditCategoryError", OnSuccess = "onEditCategorySuccess" }, 
    new { id = "cat_edit_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-row">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        <label for="parent_edit">@Html.DisplayNameFor(m => m.Parent)</label>
        @Html.TextBoxFor(m => m.Parent, new { @class = "textbox small", @id = "parent_edit" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Parent)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Description)
        @Html.TextAreaFor(m => m.Description, new { @class = "textarea small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Description)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">ویرایش</button>
        <a class="button small" onclick="restoreSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#cat_edit_form");

        $("#parent_edit").autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "@Url.Action("NameJson", "Categories")",
                    dataType: "json",
                    data: { id: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.Name,
                                ID: item.Id
                            };
                        }));
                    },
                    error: function () {
                        GlobalMessage(GetNowTimeFa(), 'خطا در یافتن گروه', 'error');
                    }
                });
            },
            minLength: 2,
        });
    })
</script>