@using Squirrel.Domain.Enititis
@{
    ViewBag.Title = "گروه ها";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div id="tree_con" class="col-lg-12"></div>

<div class="col-lg-6">
    <div id="option_con_1"></div>
    <div id="option_con_2"></div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/Autocomplete")

    <script type="text/javascript">
        $(function() {
            reloadTree();
        });

        function reloadTree() {
            $.ajax({
                url: '@Url.Action("Tree", "Categories")',
                success: function(r) {
                    $('#tree_con').html(r);
                },
            });
        }

        function loadAddForm() {
            $.ajax({
                url: '@Url.Action("Add", "Categories")',
                error: function() {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام بارگذاری فرم افزودن گروه خطا رخ داد.', 'error');
                },
                success: function(r) {
                    fillSecondryContent(r);
                    showSecondryContent();
                }
            });
        }

        function onAddCategorySuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                hideAndClearSecondryContent();
                reloadTree();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadCategoryDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Categories")',
                error: function() {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام دریافت اطلاعات گروه خطا رخ داد.', 'error');
                },
                data: { id: id },
                success: function(r) {
                    fillSecondryContent(r);
                    showSecondryContent();
                }
            });
        }

        function loadEditCategory() {
            checkpointSecondryContent();
            fillSecondryContent($('#edit_category_form_con').html());
            showSecondryContent();
        }

        function onEditCategoryError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام ویرایش اطلاعات گروه خطا رخ داد.', 'error');
        }

        function onEditCategorySuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                loadCategoryDetails(data.id);
                reloadTree();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function onAvatarCategoryError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام ویرایش آواتار گروه خطا رخ داد.', 'error');
        }

        function onAvatarCategorySuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                loadCategoryDetails(data.id);
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadReplaceCategory() {
            checkpointSecondryContent();
            fillSecondryContent($('#replace_category_form_con').html());
            showSecondryContent();
        }

        function onReplaceCategoryError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام جایگزینی گروه خطا رخ داد.', 'error');
        }

        function onReplaceCategorySuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                hideAndClearSecondryContent();
                reloadTree();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function loadRemoveCategory() {
            showPopupAlert('آیا مطمئن هستید که این گروه پاک شود؟', '$("#cat_remove_form").submit();', '');
        }

        function onRemoveCategoryError() {
            GlobalMessage(GetNowTimeFa(), 'در هنگام حذف گروه خطا رخ داد.', 'error');
        }

        function onRemoveCategorySuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                hideAndClearSecondryContent();
                reloadTree();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }
    </script>
}
