@using Squirrel.Domain.Enititis
@{
    ViewBag.Title = "گروه ها";
}

<h2>گروه ها</h2>
<hr />

<div class="col-lg-6">
    <div>
        <button type="button" class="btn btn-default" onclick="LoadAddForm()">+</button>
    </div>
    <br />
    <div id="tree_con" style="direction: rtl"></div>
</div>

<div class="col-lg-6">
    <div id="option_con_1"></div>
    <div id="option_con_2"></div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/Autocomplete")

    <script type="text/javascript">
        $(function () {
            ReloadTree();
        });

        function ReloadTree() {
            $.ajax({
                url: '@Url.Action("Tree", "Categories")',
                success: function (r) {
                    $('#tree_con').html(r);
                },
            });
        }

        function LoadAddForm() {
            $.ajax({
                url: '@Url.Action("Add", "Categories")',
                success: function (r) {
                    $('#option_con_1').html(r);
                    $('#option_con_2').html('');
                }
            });
        }

        function LoadDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_1').html(r);
                }
            });
        }

        function LoadDetailsFromList(id) {
            $.ajax({
                url: '@Url.Action("Details", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_1').html(r);
                    $('#option_con_2').html('');
                }
            });
        }

        function LoadEditForm(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function EditCompleteReload(id) {
            ReloadTree();
            LoadDetails(id);
        }

        function LoadRemoveForm(id) {
            $.ajax({
                url: '@Url.Action("Remove", "Categories", new {area = "admin"})',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function RemoveCompleteReload() {
            ReloadTree();
            $('#option_con_1').html('');
        }

        function LoadReplaceForm(id) {
            $.ajax({
                url: '@Url.Action("Replace", "Categories", new {area = "admin"})',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function ReplaceCompleteReload(id) {
            ReloadTree();
            LoadDetails(id);
        }

        function LoadAvatar(id) {
            $.ajax({
                url: '@Url.Action("Avatar", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function LoadRequestFile(target) {
            $.ajax({
                url: '@Url.Action("RequestFile", "Files")',
                data: {
                    Page: 1,
                    TragetKey: 'category_avatar',
                    Type: '@FileType.Image',
                    IsFixedType: true,
                },
                type: "POST",
                success: function (r) {
                    $('#' + target + '_con').html(r);
                }
            });
        }
    </script>
}
