@using Squirrel.Domain.Enititis
@{
    ViewBag.Title = "گروه ها";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div id="tree_con" class="col-lg-12"></div>

<div class="col-lg-6">
    <div id="option_con_1"></div>
    <div id="option_con_2"></div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/Autocomplete")

    <script type="text/javascript">
        $(function () {
            reloadTree();
        });

        function reloadTree() {
            $.ajax({
                url: '@Url.Action("Tree", "Categories")',
                success: function (r) {
                    $('#tree_con').html(r);
                },
            });
        }

        function loadAddForm() {
            $.ajax({
                url: '@Url.Action("Add", "Categories")',
                error: function () {
                    GlobalMessage(GetNowTimeFa(), 'در هنگام بارگذاری فرم افزودن گروه خطا رخ داد.', 'error');
                },
                success: function (r) {
                    fillSecondryContent(r);
                    showSecondryContent();
                }
            });
        }

        function onAddCategorySuccess(data) {
            if (data.result) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                hideAndClearSecondryContent();
                reloadTree();
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        ///////////////////
        ///////////////////
        ///////////////////
        ///////////////////
        ///////////////////

        function LoadDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_1').html(r);
                }
            });
        }

        function LoadDetailsFromList(id) {
            $.ajax({
                url: '@Url.Action("Details", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_1').html(r);
                    $('#option_con_2').html('');
                }
            });
        }

        function LoadEditForm(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function EditCompleteReload(id) {
            reloadTree();
            LoadDetails(id);
        }

        function LoadRemoveForm(id) {
            $.ajax({
                url: '@Url.Action("Remove", "Categories", new {area = "admin"})',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function RemoveCompleteReload() {
            reloadTree();
            $('#option_con_1').html('');
        }

        function LoadReplaceForm(id) {
            $.ajax({
                url: '@Url.Action("Replace", "Categories", new {area = "admin"})',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function ReplaceCompleteReload(id) {
            reloadTree();
            LoadDetails(id);
        }

        function LoadAvatar(id) {
            $.ajax({
                url: '@Url.Action("Avatar", "Categories")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function LoadRequestFile(target) {
            $.ajax({
                url: '@Url.Action("RequestFile", "Files")',
                data: {
                    Page: 1,
                    TragetKey: 'category_avatar',
                    Type: '@FileType.Image',
                    IsFixedType: true,
                },
                type: "POST",
                success: function (r) {
                    $('#' + target + '_con').html(r);
                }
            });
        }
    </script>
}
