@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@using Squirrel.Web.Models
@model Squirrel.Domain.Enititis.Post
@{
    var avatarAddress = Model.Author.AvatarAddress();
    var authorName = Model.Author.ShowName();
    PersianDate pDate = Model.PublishDate;
}

<div class="category">
    <span class="rightline"></span>
    <a class="text" href="@Url.Action("Category", "Issues", new { id = Model.Topic.Category.Name })">
        @Html.DisplayFor(m => m.Topic.Category.Name)
    </a>
    <span class="leftline"></span>
</div>

<div class="title">
    @Html.DisplayFor(m => m.Topic.Title).FaDigit()
</div>

@if (Model.HeaderImageId.HasValue)
{
    <div class="headimage">
        <img src="@Url.Content(Model.HeaderImage.Address)" alt="" />
    </div>
}

<div class="content">
    @Html.Raw(Model.Body)
</div>

@if (Model.Attachments.Any())
{
    <div class="attachments">
        @foreach (var att in Model.Attachments)
        {
            var token = RsaClass.Encrypt(string.Format("{0}:{1}", att.Id, DateTime.Now.Ticks));
            var item = att;
            <div class="item">
                <a href="@Url.Action("Attachment", "Issue", new { token })" target="_blank">
                    @Html.DisplayFor(m => item.Name)
                </a>
            </div>
        }
    </div>
}

@if (Model.Tags.Any())
{
    <div class="tags">
        @foreach (var tag in Model.Tags.Select(x => x.Name))
        {
            var item = tag;
            <a class="item" href="@Url.Action("Tag", "Issues", new { id = item })">
                @Html.DisplayFor(m => item)
            </a>
        }
    </div>
}

<div class="hline-full"></div>

<div class="info">
    @if (avatarAddress.IsNotNothing())
    {
        <a class="avatar" href="@Url.Action("User", "Issues", new { id = Model.Author.Username })">
            <img src="@Url.Content(avatarAddress)" alt="@authorName" />
        </a>
    }
    <div class="data">
        <div class="author">
            <span>نوشته شده توسط</span>
            <a href="@Url.Action("User", "Issues", new { id = Model.Author.Username })">
                @Html.DisplayFor(m => authorName)
            </a>
        </div>
        @if (pDate != null)
        {
            <div class="date">
                در تاریخ
                @pDate.ToStringDate().FaDigit()
                ساعت
                @pDate.ToStringTime().FaDigit()
            </div>
        }
    </div>

    <div class="clearbox"></div>
</div>
