@using BotDetect.Web
@using BotDetect.Web.UI.Mvc
@using Squirrel.Web.Models
@model Squirrel.Domain.ViewModels.CommentAddPublicModel

<link href="@CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />

<div class="topic">نظر بدهید.</div>

<div id="add_comment_error" style="display: none;">
    <div class="message-box error">
        <span class="msg-close glyphbox" onclick="$('#add_comment_error').hide()">&#xe680</span>
        <div class="msg-topic">خطا !</div>
        <div class="msg-text"></div>
    </div>
    <div class="divider-blank30"></div>
</div>

<div id="add_comment_success" style="display: none;">
    <div class="message-box success">
        <span class="msg-close glyphbox" onclick="$('#add_comment_success').hide()">&#xe680</span>
        <div class="msg-topic">نظر شما با موفقیت ثبت شد !</div>
        <div class="msg-text">نظر شما بعد از تائید نویسنده مطلب نمایش داده خواهد شد.</div>
    </div>
</div>

@using (Ajax.BeginForm("AddComment", "Issue", null,
        new AjaxOptions { OnBegin = "onAddCommentBegin", OnSuccess = "onAddCommentSuccess", OnFailure = "onAddCommentError" },
        new { id = "add_comment_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.PostId)

    <div>
        <div class="materialtext">
            <div class="title">نام خود را وارد کنید.</div>
            @Html.TextBoxFor(m => m.Name, new { @class = "textbox", @tabindex = "1", @id = "add_comment_field_name" })
        </div>
        <div class="material-validation">
            @Html.ValidationMessageFor(m => m.Name)
        </div>
    </div>

    <div class="divider-blank30"></div>

    <div>
        <div class="materialtext">
            <div class="title">آدرس پست الکترونیکی خود را وارد کنید. (اختیاری)</div>
            @Html.TextBoxFor(m => m.Email, new { @class = "textbox", @tabindex = "2", @id = "add_comment_field_email" })
        </div>
        <div class="material-validation">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>

    var captcha = CaptchaHelper.GetCaptcha();
    if (!captcha.IsSolved)
    {
        <div class="divider-blank30"></div>

        <div>
            <div class="materialtext hascaptcha">
                <div class="title">عبارت امنیتی را وارد کنید.</div>
                @Html.TextBoxFor(m => m.CaptchaText, new { @class = "textbox", @tabindex = "3", @id = "add_comment_field_captcha" })
                <div class="captcha-con">
                    @Html.Captcha(captcha)
                </div>
            </div>
            <div class="material-validation">
                @Html.ValidationMessageFor(m => m.CaptchaText)
            </div>
        </div>
    }


    <div class="divider-blank30"></div>

    <div>
        <div class="materialtext">
            <div class="title">نظر خود را بنویسید.</div>
            @Html.TextAreaFor(m => m.Body, new { @class = "textarea", @tabindex = "4", @id = "add_comment_field_body" })
        </div>
        <div class="material-validation">
            @Html.ValidationMessageFor(m => m.Body)
        </div>
    </div>

    <div class="divider-blank50"></div>

    <div class="add-comment-submit">
        <button class="button inline" type="submit" tabindex="5" style="width: 150px;">ثبت نظر</button>
        <button class="button line inline" type="button" onclick="clearAddCommentFrom()" style="width: 150px;">پاک کردن</button>
    </div>
}


<script type="text/javascript">
    function clearAddCommentFrom() {
        $('#add_comment_form input[type="text"]').val('');
        $('#add_comment_form textarea').val('');
        $('#add_comment_form .materialtext').removeClass('value');
        $('#add_comment_form .field-validation-error').text('');
    }

    function onAddCommentBegin() {
        $('.add-comment-submit').children('button[type="submit"]').loadMode('@Url.Content("~/Content/themes/vone/images/submit_loader.GIF")');
        $('#add_comment_error').hide();
    }

    function onAddCommentError() {
        setTimeout(function () {
            $('.add-comment-submit').children('button[type="submit"]').loadMode();
            $('#add_comment_error .msg-text').text('هنگام ثبت نظر شما خطایی رخ داد. لطفا کمی دیرتر مجددا تلاش کنید.');
            $('#add_comment_error').show();
            // Reload Captcha
            CaptchaId.ReloadImage();
            $('#add_comment_field_captcha').val('');
        }, 200);
    }

    function onAddCommentSuccess(data) {
        if (data.result === false) {
            setTimeout(function () {
                $('#add_comment_error .msg-text').text(data.message);
                $('#add_comment_error').show();
                // Reload Captcha
                var errorArray = {};
                errorArray["CaptchaText"] = data.captchaError;
                $('#add_comment_form').validate().showErrors(errorArray);
                CaptchaId.ReloadImage();
                $('#add_comment_field_captcha').val('');
                $('.add-comment-submit').children('button[type="submit"]').loadMode();
            }, 200);
        } else {
            $('.add-comment-submit').children('button[type="submit"]').loadMode();
            $('#add_comment_error').hide();
            $('#add_comment_form').hide();
            $('#add_comment_success').show();
        }
    }
</script>