@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model IEnumerable<Squirrel.Domain.Enititis.Comment>
@{
    var counter = 0;
}

<div class="topic">نظرات</div>

@foreach (var comment in Model)
{
    var item = comment;
    var avatarAddress = string.Empty;
    if (item.UserId.HasValue)
    {
        avatarAddress = item.User.AvatarAddress();
    }

    if (counter > 0)
    {
        <div class="hline"></div>
    }

    <div class="row comment">
        <div class="col-sm-2 hidden-xs">
            <div class="avatar">
                @if (avatarAddress.IsNotNothing())
                {
                    <img src="@Url.Content(avatarAddress)" alt="" />
                }
                else
                {
                    <img src="~/Content/themes/vone/images/generalavatar.png" alt="" />
                }
            </div>
        </div>
        <div class="col-sm-10">
            <div class="name">
                @if (item.UserId.HasValue)
                {
                    if (item.UserId == item.Post.AuthorId)
                    {
                        @("نویسنده مطلب : ")
                    }
                    <span>@item.User.ShowName()</span>
                }
                else
                {
                    @Html.DisplayFor(m => item.Name)
                }
            </div>
            <div class="date">
                @(((PersianDate)item.CreateDate).ToStringDate().FaDigit())
                ساعت
                @(((PersianDate)item.CreateDate).ToStringTime().FaDigit())
            </div>
            @if (item.ParentId.HasValue)
            {
                <div class="parent">
                    @if (item.Parent.UserId.HasValue)
                    {
                        if (item.Parent.UserId == item.Post.AuthorId)
                        {
                            @("نویسنده مطلب : ")
                        }
                        @item.Parent.User.ShowName()
                    }
                    else
                    {
                        @Html.DisplayFor(m => item.Parent.Name)
                    }
                    <br/>
                    @Html.DisplayFor(m => item.Parent.Body)
                </div>
            }
            <div class="content">
                @Html.DisplayFor(m => item.Body)
            </div>
        </div>
    </div>

            counter++;
}
