@using Squirrel.Domain.Enititis
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.PostEditModel

@{
    Post thisPost = ViewBag.CurrentPost;
}


<div class="box-uptitle">
    <div class="text">عکس اصلی</div>
    <div class="links">
        <span class="button small tile" onclick="clearHeaderImage()">
            <span class="glyphbox">&#xe609</span>
        </span>
    </div>
    <div class="links">
        <span class="button small tile" onclick="loadImagesPopup()">
            <span class="glyphbox">&#xe628</span>
        </span>
    </div>
    <div class="clearbox"></div>
</div>
<div class="flatbox">
    @{
        var style1 = "";
        var style2 = "";
        if (thisPost.HeaderImageId.HasValue)
        {
            style2 = "display: none;";
        }
        else
        {
            style1 = "display: none;";
        }
    }
    <div class="header-image" style="@style1">
        <div class="image">
            @if (thisPost.HeaderImageId.HasValue)
            {
                <img id="header_image_pre" src="@Url.Content(thisPost.HeaderImage.Address)" onclick="showFullPicture(this, '@thisPost.HeaderImage.Name')" />
            }
            else
            {
                <img id="header_image_pre" />
            }
        </div>
        <div class="info">
            <div class="name" id="header_image_name">
                @if (thisPost.HeaderImageId.HasValue)
                {
                    @Html.DisplayFor(m => thisPost.HeaderImage.Name)
                }
            </div>
            <div class="line"></div>
            <div class="size">
                <span id="header_image_size">
                    @if (thisPost.HeaderImageId.HasValue)
                    {
                        @(thisPost.HeaderImage.Size.ToByteUnit().FaDigit())
                    }
                </span>
            </div>
        </div>
    </div>
    <div class="no-content" id="header_image_nocontent" style="@style2">
        موردی وجود ندارد.
    </div>
</div>

<script type="text/javascript">
    var headerImgPopupId = '@Guid.NewGuid()';
    $(function () {
        $(document).on('onFilePopupChoice', headerImageChoiceHandler);
    });

    function clearHeaderImage() {
        $('.post-edit-con .header-image').hide();
        $('#header_image_nocontent').show();
        $('#HeaderImageId').val('');
    }

    function loadImagesPopup() {
        $.ajax({
            url: '@Url.Action("Popup", "Files")',
            data: {
                Page: 1,
                Type: '@FileType.Image',
                IsFixedType: true,
            },
            type: "POST",
            success: function (r) {
                showPopupBox(headerImgPopupId, 'عکس مورد نظر خود را انتخاب کنید.', r);
            }
        });
    }

    function headerImageChoiceHandler(e) {
        if (headerImgPopupId == e.popupId) {
            $('#HeaderImageId').val(e.id);
            $('#header_image_name').text(e.name);
            $('#header_image_pre')
                .attr('src', '@Url.Content("~")' + e.address.replace("~/", ""))
                .attr('onclick', 'showFullPicture(this, "' + e.name + '")');

            var size = parseFloat(e.size);
            $('#header_image_size').text(toPersianDigits(toByteUnitPersian(size)));

            $('.post-edit-con .header-image').show();
            $('#header_image_nocontent').hide();
        }
    }

    function showFullPicture(e, name) {
        fullPicturePopup(name, $(e).attr('src'));
    }
</script>