@using Squirrel.Domain.Enititis
@model Squirrel.Domain.ViewModels.PostEditModel

@{
    ViewBag.Title = "ویرایش مطلب";
    Post thisPost = ViewBag.CurrentPost;
}

<div class="col-lg-12" style="height: 40px; line-height: 40px; margin-bottom: 10px;">
    <div id="editpost_success_message" style="color: #3cb371; background-color: #fafad2; display: none; text-align: center;"></div>
    <div id="editpost_error_message" style="color: #ff7f50; background-color: #fafad2; display: none; text-align: center;"></div>
</div>

<div class="col-lg-8">
    <div>
        @Html.Partial("Item_Topic")
    </div>
    <hr />
    @using (Ajax.BeginForm("Edit", "Posts", null, new AjaxOptions { OnSuccess = "onEditPostSuccess" }, new { id = "post_edit_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.TopicId)
        @Html.HiddenFor(m => m.IsPublic)
        @Html.HiddenFor(m => m.FlatedTags)
        @Html.HiddenFor(m => m.HeaderImageId)
        @Html.HiddenFor(m => m.FlatedAttachments)

        <div>
            خلاصه :
            <p>
                @Html.TextAreaFor(m => m.Abstract)
            </p>
        </div>
        <hr />
        <div>
            محتوا :
            <p>
                @Html.TextAreaFor(m => m.Body)
            </p>
        </div>
    }
</div>

<div class="col-lg-4">
    <div style="padding: 20px;text-align: center; background-color: #eee;">
        @Html.Partial("Item_Action")
    </div>
    <br />
    <div>
        @Html.Partial("Item_Image")
    </div>
    <hr />
    <div>
        @Html.Partial("Item_Tags")
    </div>
    <hr />
    <div>
        @Html.Partial("Item_Attachments")
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
        });

        function savePost() {
            $('#post_edit_form').submit();
        }

        function publishPost(e) {
            $('#IsPublic').val('True');
            $(e).hide();
            $(e).next().show();
            savePost();
        }

        function privatePost(e) {
            $('#IsPublic').val('False');
            $(e).hide();
            $(e).prev().show();
            savePost();
        }

        function onEditPostSuccess(data) {
            if (data.result == true) {
                showMessage(data.message, '');
                $('#post_editdate').text(data.date);
            } else {
                showMessage('', data.message);
            }
        }

        function showMessage(success, error) {
            $('#editpost_success_message').text('').hide();
            $('#editpost_error_message').text('').hide();

            if (success != '') {
                $('#editpost_success_message').text(success).slideDown(100);
            }
            if (error != '') {
                $('#editpost_error_message').text(error).slideDown(100);
            }
        }

        function loadTopics(p) {
            $.ajax({
                url: '@Url.Action("SimpleSearch", "Topics")',
                data: {
                    page: p,
                },
                success: function (r) {
                    $('#change_topic_con #change_topic').html(r);
                    $('#change_topic_con').css('display', 'flex');
                    $('#topic_row_' + $('#TopicId').val()).css('color', 'blueviolet');
                },
            });
        }

        function onTopicClicked(e, id, title) {
            $('#TopicId').val(id);
            $('#topic_title').text(title);
            $('#change_topic_con').css('display', 'none');
        }
    </script>
}