@using Squirrel.Domain.Enititis
@using Squirrel.Domain.ExtensionMethods
@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.ViewModels.PostEditModel

@{
    Post thisPost = ViewBag.CurrentPost;
}

<div>
    <button type="button" class="button submit full" onclick="savePost()">ذخیره کردن تغییرات</button>
    <div class="divider-blank10"></div>
    <a class="button primary full" href="@Url.Action("Preview", "Issue", new { Area = "", id = Model.TopicId })" target="_blank">پیش نمایش عنوان</a>
</div>

<div class="divider-blank50"></div>

<div class="detail-row">
    <span class="title">تاریخ ایجاد :</span>
    <span class="value">
        @(((PersianDate)thisPost.CreateDate).ToStringDateTime(timeFormat: PersianTimeFormat.HH_MM_SS).FaDigit())
    </span>
</div>

@if (thisPost.EditDate.HasValue)
{
    <div class="divider-blank15"></div>

    <div class="detail-row">
        <span class="title">تاریخ ویرایش :</span>
        <span class="value" id="post_editdate">
            @(((PersianDate)thisPost.EditDate).ToStringDateTime(timeFormat: PersianTimeFormat.HH_MM_SS).FaDigit())
        </span>
    </div>
}

<div class="divider-blank15"></div>

<div class="detail-row">
    <span class="title">نویسنده :</span>
    <span class="value">
        @thisPost.Author.ShowName()
    </span>
</div>

<div class="divider-blank50"></div>

<div class="topic-row">
    مشاهده
</div>

<div class="divider-blank15"></div>

<div class="detail-row">
    <span class="title">وضعیت :</span>
    @if (thisPost.IsPublic)
    {
        <span class="value" id='post_publishstate'>عمومی</span>
    }
    else
    {
        <span class="value" id='post_publishstate'>خصوصی</span>
    }
</div>

<div class="divider-blank15"></div>

<div class="detail-row">
    <span class="title">تاریخ :</span>
    <span class="value" id='post_publishdate'>
        @if (thisPost.IsPublic)
        {
            @(((PersianDate)thisPost.PublishDate).ToStringDateTime(timeFormat: PersianTimeFormat.HH_MM_SS).FaDigit())
        }
    </span>
</div>

<div class="divider-blank15"></div>

@{
    var style1 = "";
    var style2 = "";
    if (thisPost.IsPublic)
    {
        style1 = "display: none;";
    }
    else
    {
        style2 = "display: none;";
    }
}
<div>
    <button type="button" class="button submit small" style="@style1" onclick="publishPost(this)">عمومی سازی</button>
    <button type="button" class="button alert small" style="@style2" onclick="privatePost(this)">خصوصی سازی</button>
</div>

<div class="divider-blank50"></div>

<div class="topic-row">موارد دیگر</div>

<div class="divider-blank15"></div>

<div class="detail-row">
    <span class="title">نظرات :</span>
    <a href="@Url.Action("Post", "Comments", new { thisPost.Id })">
        @thisPost.Comments.Count().FaDigit()
    </a>
</div>

<div class="detail-row">
    <span class="title">نظرات خوانده نشده :</span>
    <a href="@Url.Action("Post", "Comments", new { thisPost.Id })">
        @thisPost.Comments.Count(c => !c.IsReaded).FaDigit()
    </a>
</div>

<div class="divider-blank15"></div>

<div>
    <button type="button" class="button small error" onclick="loadRemovePost('@Model.Id')">حذف مطلب</button>
</div>
