@using Squirrel.Domain.Enititis
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.PostEditModel

@{
    Post thisPost = ViewBag.CurrentPost;
}

<div class="box-uptitle">
    <div class="text">فایل های ضمیمه</div>
    <div class="links">
        <span class="button small tile" onclick="loadFileChoicePopup()">
            <span class="glyphbox">&#xe623</span>
        </span>
    </div>
    <div class="clearbox"></div>
</div>
<div class="flatbox">
    @{
        var style1 = "";
        var style2 = "";
        if (Model.Attachments.Any())
        {
            style2 = "display: none;";
        }
        else
        {
            style1 = "display: none;";
        }
    }
    <div class="attachments-list" style="@style1">
        @foreach (var file in thisPost.Attachments)
        {
            var item = file;
            <div class="item">
                <div class="name">
                    @Html.DisplayFor(m => item.Name)
                </div>
                <div class="size">
                    @item.Size.ToByteUnit().FaDigit()
                    -
                    @item.Filename.Split('.').Last()
                </div>
                <div class="action">
                    <button class="button tile small" onclick="removeAttach(this,'@item.Id')">
                        <span class="glyphbox">&#xe680</span>
                    </button>
                </div>
            </div>
            if (file != thisPost.Attachments.Last())
            {
                <div class="hline"></div>
            }
        }
    </div>
    <div class="no-content" id="attachments_nocontent" style="@style2">
        موردی وجود ندارد.
    </div>
    <div id="attachment_item_ghost" style="display: none;">
        <div class="name"></div>
        <div class="size"></div>
        <div class="action">
            <button class="button tile small">
                <span class="glyphbox">&#xe680</span>
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var attachmentPopupId = '@Guid.NewGuid()';
    $(function () {
        $(document).on('onFilePopupChoice', attachFileChoiceHandler);
    });

    function loadFileChoicePopup() {
        $.ajax({
            url: '@Url.Action("Popup", "Files")',
            data: {
                Page: 1,
            },
            type: "POST",
            success: function (r) {
                showPopupBox(attachmentPopupId, 'فایل مورد نظر خود را انتخاب کنید.', r);
            }
        });
    }

    function addFileIdToAttachments(id) {
        var code = "#" + id + "#";
        var fAttachs = $('#FlatedAttachments').val();
        if (fAttachs.search(code) > -1) {
            return false;
        }
        fAttachs += id + "#";
        $('#FlatedAttachments').val(fAttachs);
        return true;
    }

    function attachFileChoiceHandler(e) {
        if (attachmentPopupId == e.popupId && addFileIdToAttachments(e.id)) {
            var $hline = $('<div class="hline"></div>');

            var $newItem = $('<div class="item"></div>');
            $newItem.html($('#attachment_item_ghost').html());
            $newItem.children('.name').text(e.name);
            var size = parseInt(e.size);
            var type = e.filename.split('.')[e.filename.split('.').length - 1];
            $newItem.children('.size').text(toPersianDigits(toByteUnitPersian(size)) + ' - ' + type);
            $newItem.children('.action').children('button').attr('onclick', 'removeAttach(this,"' + e.id + '")');

            if ($('.attachments-list .item').length == 0) {
                $('#attachments_nocontent').hide();
                $('.attachments-list').show();
                $('.attachments-list').append($newItem);
            } else {
                $('.attachments-list').append($hline);
                $('.attachments-list').append($newItem);
            }
        }
    }

    function removeAttach(e, id) {
        var code = "#" + id + "#";
        var fAttachs = $('#FlatedAttachments').val();
        fAttachs = fAttachs.replace(code, "#");
        $('#FlatedAttachments').val(fAttachs);

        var $item = $(e).parent('.action').parent('.item');
        if ($('.attachments-list .item').length == 1) {
            $item.remove();
            $('#attachments_nocontent').show();
            $('.attachments-list').hide();
        }
        else if ($item.is(':first-child')) {
            $item.next('.hline').remove();
            $item.remove();
        } else {
            $item.prev('.hline').remove();
            $item.remove();
        }
    }
</script>