@model Squirrel.Domain.ViewModels.PostEditModel

@{
    ViewBag.Title = "ویرایش مطلب";
}

<div class="col-lg-12">
    <div class="divider-blank30"></div>
</div>

<div class="post-edit-con">
    @using (Ajax.BeginForm("Edit", "Posts", null,
        new AjaxOptions { OnSuccess = "onEditPostSuccess", OnFailure = "onEditPostError" },
        new { id = "post_edit_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.TopicId)
        @Html.HiddenFor(m => m.IsPublic)
        @Html.HiddenFor(m => m.Abstract)
        @Html.HiddenFor(m => m.FlatedTags)
        @Html.HiddenFor(m => m.HeaderImageId)
        @Html.HiddenFor(m => m.FlatedAttachments)
        @Html.HiddenFor(m => m.Body)
        @Html.HiddenFor(m => m.PublishPersianDate)

        <div class="col-lg-12">
            <div class="box-uptitle">
                <div class="text">محتوا</div>
                <div class="clearbox"></div>
            </div>
            <div class="editor-con">
                @Html.Partial("Item_Content")
            </div>
        </div>
    }

    <div class="col-lg-12">
        <div class="divider-blank30"></div>
    </div>

    <div class="col-lg-6">
        @Html.Partial("Item_Abstract")
        <div class="divider-blank30"></div>
        @Html.Partial("Item_Attachments")
        <div class="divider-blank30"></div>
    </div>

    <div class="col-lg-6">
        @Html.Partial("Item_Image")
        <div class="divider-blank30"></div>
        @Html.Partial("Item_Tags")
        <div class="divider-blank30"></div>
    </div>
</div>

<div style="display: none;" id="post_actions_con">
    @Html.Partial("Item_Action")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $.validator.unobtrusive.parse("#post_edit_form");
            $("#post_edit_form").data("validator").settings.ignore = "";
            fillSecondryContent($('#post_actions_con').html());
            $('#post_actions_con').remove();
        });

        function savePost() {
            if (!$('#post_edit_form').valid()) {
                var message = 'اطلاعات وارد شده قابل ثبت نیست.';
                GlobalMessage(GetNowTimeFa(), message, 'error');
                return false;
            }
            onEditPostBegin();
            $('#post_edit_form').submit();
            return true;
        }

        function publishPost(e) {
            $('#IsPublic').val('True');
            $(e).hide();
            $(e).next().show();
            savePost();
        }

        function privatePost(e) {
            $('#IsPublic').val('False');
            $(e).hide();
            $(e).prev().show();
            savePost();
        }

        function onEditPostBegin() {
            // For ajax forms
            var content = CKEDITOR.instances.post_content.getData();
            $('#Body').val(content);
        }

        function onEditPostSuccess(data) {
            if (data.result == true) {
                GlobalMessage(GetNowTimeFa(), data.message, 'success');
                $('#post_editdate').text(toPersianDigits(data.date));
                $('#post_publishdate').text(toPersianDigits(data.publishDate));
                if (data.publishDate == '') {
                    $('#post_publishstate').text("خصوصی");
                } else {
                    $('#post_publishstate').text("عمومی");
                }
            } else {
                GlobalMessage(GetNowTimeFa(), data.message, 'error');
            }
        }

        function onEditPostError() {
            var message = 'در هنگام افزودن عنوان خطا رخ داد.';
            GlobalMessage(GetNowTimeFa(), message, 'error');
        }

        function loadRemovePost(id) {
            showPopupAlert('آیا مطمئن هستید که این مطلب پاک شود؟', 'onRemovePostClick("' + id + '")', '');
        }

        function onRemovePostClick(id) {
            $.ajax({
                url: '@Url.Action("Remove", "Posts")',
                data: { id: id },
                success: function (r) {
                    if (r.result == true) {
                        window.location.href = '@Url.Action("Index", "Publish")';
                    } else {
                        GlobalMessage(GetNowTimeFa(), r.message, 'error');
                    }
                },
            });
        }
    </script>
}