@using Squirrel.Domain.Enititis
@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.ViewModels.PostEditModel

@{
    Post thisPost = ViewBag.CurrentPost;
}

@Styles.Render("~/Content/PersianDatatimePicker")
@Scripts.Render("~/bundles/PersianDatatimePicker")

<div>
    تاریخ ایجاد :
    <p>@(((PersianDate)thisPost.CreateDate).ToStringDateTime())</p>
</div>
@if (thisPost.EditDate.HasValue)
{
    <div>
        تاریخ ویرایش :
        <p id="post_editdate">
            @(((PersianDate)thisPost.EditDate).ToStringDateTime())
        </p>
    </div>
}
<div>
    تاریخ انتشار :
    <p>
        @Html.TextBox("publishdate_editpost", Model.PublishPersianDate.FaDigit(), new { @readonly = "readonly" })<br />
        @Html.ValidationMessageFor(m => m.PublishPersianDate)
    </p>
</div>
<div>
    نویسنده :
    <p>
        @Html.DisplayFor(m => thisPost.Author.Username)
    </p>
</div>
<p>
    <button type="button" class="btn btn-success" style="width: 200px;" onclick="savePost()">ذخیره کردن</button>
</p>
<p>
    <button type="button" class="btn btn-success" style="width: 200px;">پیش نمایش</button>
</p>
<p>
    @if (thisPost.IsPublic)
    {
        <button type="button" class="btn btn-primary" style="width: 200px;display: none;" onclick="publishPost(this)">انتشار</button>
        <button type="button" class="btn btn-warning" style="width: 200px;" onclick="privatePost(this)">خصوصی سازی</button>
    }
    else
    {
        <button type="button" class="btn btn-primary" style="width: 200px;" onclick="publishPost(this)">انتشار</button>
        <button type="button" class="btn btn-warning" style="width: 200px;display: none;" onclick="privatePost(this)">خصوصی سازی</button>
    }
</p>

<script type="text/javascript">
    $('#publishdate_editpost').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: true, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
    });

    $('#publishdate_editpost').on('change', function () {
        var dateVal = $(this).val();
        $('#PublishPersianDate').val(toEnglishDigits(dateVal));
    });
</script>
