@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.TopicAddModel

<div class="topic-row">
    افزودن عنوان
</div>

@using (Ajax.BeginForm("Add", "Topics", null, new AjaxOptions { OnFailure = "onAddTopicError", OnSuccess = "onAddTopicSuccess" }, new { id = "topic_add_form" }))
{
    @Html.AntiForgeryToken()

    <div class="divider-blank15"></div>

    <div class="form-row">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>

    <div class="divider-blank15"></div>

    <div class="form-row">
        @Html.LabelFor(m => m.PostsOrdering)
        @Html.EnumDropDownListFor(m => m.PostsOrdering, true, new { @class = "select small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.PostsOrdering)
        </div>
    </div>

    <div class="divider-blank15"></div>

    <div class="form-row">
        @Html.LabelFor(m => m.CategoryId)
        @Html.TextBox("category_addtopic_name", null, new { @readonly = "readonly", @class = "textbox small readonly" })
        @Html.HiddenFor(m => m.CategoryId, new { id = "category_addtopic_id" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CategoryId)
        </div>
        <div class="categories-tree" id="topicadd_categories_con"></div>
    </div>

    <div class="divider-blank15"></div>

    <div>
        <button type="submit" class="button small submit">افزودن</button>
        <button type="button" class="button small" onclick="cancelAddTopic()">انصراف</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#topic_add_form");
        $("#topic_add_form").data("validator").settings.ignore = "";

        $('#category_addtopic_id').on('change', function () {
            $(this).valid();
        });

        loadCategoriesForAdd();
        $(document).on('onCategoryChoosed', addTopicCategoryHandler);
    });

    function loadCategoriesForAdd() {
        $.ajax({
            url: '@Url.Action("SimpleTreeByKey", "Categories")',
            data: {
                key: 'new',
            },
            success: function (r) {
                $('#topicadd_categories_con').html(r);
            },
        });
    }

    function addTopicCategoryHandler(e) {
        if (e.key == "new") {
            $('#category_addtopic_name').val(e.name);
            $('#category_addtopic_id').val(e.id).trigger('change');
        }
    }
</script>