@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.TopicEditModel

<div class="topic-row">
    ویرایش عنوان
</div>

@using (Ajax.BeginForm("Edit", "Topics", null, new AjaxOptions { OnFailure = "onEditTopicError", OnSuccess = "onEditTopicSuccess" }, new { id = "topic_edit_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.PublishPersianDate)

    <div class="divider-blank15"></div>

    <div class="form-row">
        @Html.LabelFor(m => m.Title)
        @Html.TextBoxFor(m => m.Title, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Title)
        </div>
    </div>

    <div class="divider-blank15"></div>

    <div class="form-row">
        @Html.LabelFor(m => m.PostsOrdering)
        @Html.EnumDropDownListFor(m => m.PostsOrdering, true, new { @class = "select small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.PostsOrdering)
        </div>
    </div>

    <div class="divider-blank15"></div>

    <div class="form-row">
        @Html.LabelFor(m => m.CategoryId)
        @Html.TextBoxFor(m => m.CategoryName, new { @id = "category_edittopic_name", @readonly = "readonly", @class = "textbox small readonly" })
        @Html.HiddenFor(m => m.CategoryId, new { id = "category_edittopic_id" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.CategoryId)
        </div>
        <div class="categories-tree" id="topicedit_categories_con"></div>
    </div>

    <div class="divider-blank15"></div>

    <div>
        <button type="submit" class="button small submit">ثبت</button>
        <button type="button" class="button small" onclick="cancelEditTopic()">انصراف</button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#topic_edit_form");
        $("#topic_edit_form").data("validator").settings.ignore = "";

        $('#category_edittopic_id').on('change', function () {
            $(this).valid();
        });

        loadCategoriesForEdit();
        $(document).on('onCategoryChoosed', editTopicCategoryHandler);
    });

    function loadCategoriesForEdit() {
        $.ajax({
            url: '@Url.Action("SimpleTreeByKey", "Categories")',
            data: {
                key: 'new',
            },
            success: function (r) {
                $('#topicedit_categories_con').html(r);
            },
        });
    }

    function editTopicCategoryHandler(e) {
        if (e.key == "new") {
            $('#category_edittopic_name').val(e.name);
            $('#category_edittopic_id').val(e.id).trigger('change');
        }
    }
</script>