@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.TopicEditModel

<div style="border: 1px solid #ddd;" class="col-lg-12">
    <div style="color: orangered; text-align: center;" class="col-lg-12" id="edittopic_error_massage"></div>

    @using (Ajax.BeginForm("Edit", "Topics", null, new AjaxOptions { OnSuccess = "onEditTopicSuccess" }, new { id = "topic_edit_form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.PublishPersianDate)

        <div class="col-lg-6">
            <p class="form-group">
                @Html.LabelFor(m => m.Title)
                <br />
                @Html.TextBoxFor(m => m.Title)
                @Html.ValidationMessageFor(m => m.Title)
            </p>
            <p class="form-group">
                @Html.LabelFor(m => m.PostsOrdering)
                <br />
                @Html.EnumDropDownListFor(m => m.PostsOrdering, true)
                @Html.ValidationMessageFor(m => m.PostsOrdering)
            </p>
            <p class="form-group" id='@string.Format("edittopiccategory_con_{0}",Model.Id)'>
                @Html.LabelFor(m => m.CategoryId)
                <br />
                @Html.TextBoxFor(m => m.CategoryName, new { @readonly = "readonly", id = "category_edittopic_name" })
                @Html.HiddenFor(m => m.CategoryId, new { id = "category_edittopic_id" })
                @Html.ValidationMessageFor(m => m.CategoryId)
            </p>
            <p class="form-group">
                @Html.LabelFor(m => m.PublishPersianDate)
                <br />
                @Html.TextBox("publishpdate_edit", Model.PublishPersianDate.FaDigit(), new { @readonly = "readonly" })
                @Html.ValidationMessageFor(m => m.PublishPersianDate)
            </p>
        </div>
        <div class="col-lg-6">
            <div id="topicedit_categories_con"></div>
        </div>
        <div class="col-lg-12" style="text-align: center;">
            <hr />
            <p>
                <button type="submit" class="btn btn-default">ثبت</button>
                <button type="button" class="btn btn-default" onclick="hideTopicOptionBox()">انصراف</button>
            </p>
        </div>
    }
</div>
<div style="clear: both;"></div>

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#topic_edit_form");
        $("#topic_edit_form").data("validator").settings.ignore = "";

        $('#category_edittopic_id').on('change', function () {
            $(this).valid();
        });

        loadCategoriesForEdit('@Model.Id');
        $(document).on('onCategoryChoosed', editTopicCategoryHandler);
    });

    $('#publishpdate_edit').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: true, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
    });

    $('#publishpdate_edit').on('change', function () {
        var dateVal = $(this).val();
        $('#PublishPersianDate').val(toEnglishDigits(dateVal));
    });

    function loadCategoriesForEdit(key) {
        $.ajax({
            url: '@Url.Action("SimpleTreeByKey", "Categories")',
            data: {
                key: key,
            },
            success: function (r) {
                $('#topicedit_categories_con').html(r);
            },
        });
    }

    function editTopicCategoryHandler(e) {
        if (e.key == '@Model.Id') {
            var $con = $('#edittopiccategory_con_' + '@Model.Id');
            $con.find('#category_edittopic_name').val(e.name);
            $con.find('#category_edittopic_id').val(e.id).trigger('change');
        }
    }
</script>