@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@model List<Squirrel.Domain.Enititis.Topic>

<table class="table">
    <tbody>
        @foreach (var topic in Model)
        {
            var item = topic;
            <tr>
                <td>
                    <div>@Html.DisplayFor(m => item.Title)</div>
                    <div style="font-size: 11px; margin-top: 15px;">
                        C:@(((PersianDate)item.CreateDate).ToStringDateTime())
                        
                        @if (item.EditDate.HasValue)
                        {
                            <span style="margin-left: 5px;">
                                E:@(((PersianDate)item.EditDate.Value).ToStringDateTime())
                            </span>
                        }
                        
                        <span style="margin-left: 5px;">
                            G:@Html.DisplayFor(m => item.Category.Name)
                        </span>
                        
                        <span style="margin-left: 5px;">
                            V:@Html.DisplayFor(m => item.View)
                        </span>
                        
                        <span style="margin-left: 5px;">
                            P:@item.Posts.Count()
                        </span>

                        <button type="button" style="margin-left: 5px;">Edit</button>
                    </div>
                    <div>
                        
                    </div>
                </td>
                <td>
                    @{
                        var style1 = string.Empty;
                        var style2 = string.Empty;
                    }
                    @if (item.IsPublished)
                    {
                        style1 = "display:none;";
                    }
                    else
                    {
                        style2 = "display:none;";
                    }
                    <span style="color: #cccccc; @style1" onclick="publishTopic(this, '@item.Id')">Published</span>
                    <span style="color: #7b68ee; @style2" onclick="unpublishTopic(this, '@item.Id')">Published</span>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Paging != null)
{
    @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
}
