@using Squirrel.Domain.ViewModels
@model List<Squirrel.Domain.Enititis.Topic>

<table class="table">
    <tbody>
        @foreach (var topic in Model)
        {
            var item = topic;
            var style1 = string.Empty;
            var style2 = string.Empty;

            <tr>
                <td>
                    <div id="@string.Format("listitem_con_{0}",item.Id)">
                        @Html.Partial("ListItem", item)
                    </div>
                    <div class="topic-options" id="@string.Format("op_con_{0}",item.Id)" style="display: none; padding: 15px 0;"></div>
                </td>
                <td>
                    @if (item.IsPublished)
                    {
                        style1 = "display:none;";
                    }
                    else
                    {
                        style2 = "display:none;";
                    }
                    <span style="color: #cccccc; @style1" onclick="publishTopic(this, '@item.Id')">Published</span>
                    <span style="color: #7b68ee; @style2" onclick="unpublishTopic(this, '@item.Id')">Published</span>
                </td>

            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Paging != null)
{
    @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
}
