@using Squirrel.Utility.FarsiTools
@model Squirrel.Domain.ViewModels.TopicEditModel

@using (Ajax.BeginForm("Edit", "Topics", null, new AjaxOptions { OnFailure = "onEditPDateError", OnSuccess = "onEditPDateSuccess" }, new { id = "topic_edit_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)
    @Html.HiddenFor(m => m.Title)
    @Html.HiddenFor(m => m.PostsOrdering)
    @Html.HiddenFor(m => m.CategoryId)
    @Html.HiddenFor(m => m.CategoryName)
    @Html.HiddenFor(m => m.PublishPersianDate)

    <div class="form-row">
        @Html.LabelFor(m => m.PublishPersianDate)
        @Html.TextBox("publishpdate_edit", Model.PublishPersianDate.FaDigit(), new { @readonly = "readonly", @class = "textbox small readonly" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.PublishPersianDate)
        </div>
    </div>
    <div class="divider-blank10"></div>
    <div>
        <button type="submit" class="button small tile submit">
            <div class="glyphbox">&#xe65f</div>
        </button>
        <button type="button" class="button small tile" onclick="cancelEditPDate()">
            <div class="glyphbox">&#xe680</div>
        </button>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#topic_edit_form");
        $("#topic_edit_form").data("validator").settings.ignore = "";

        $('#category_edittopic_id').on('change', function () {
            $(this).valid();
        });
    });

    $('#publishpdate_edit').MdPersianDateTimePicker({
        Placement: 'bottom', // default is 'bottom'
        Trigger: 'focus', // default is 'focus',
        EnableTimePicker: true, // default is true,
        TargetSelector: '', // default is empty,
        GroupId: '', // default is empty,
        ToDate: false, // default is false,
        FromDate: false, // default is false,
    });

    $('#publishpdate_edit').on('change', function () {
        var dateVal = $(this).val();
        $('#PublishPersianDate').val(toEnglishDigits(dateVal));
    });
</script>