@model Squirrel.Domain.ViewModels.UserCreateModel

<div class="topic-row">
    افزودن کاربر
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("Add", "Users", null,
    new AjaxOptions { OnFailure = "onAddUserError", OnSuccess = "onAddUserSuccess" },
    new { id = "user_add_form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-row">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Password)
        @Html.PasswordFor(m => m.Password, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">افزودن</button>
        <a class="button small" onclick="hideAndClearSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#user_add_form");
    })
</script>