@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@using Squirrel.Utility.Helpers
@model Squirrel.Domain.Enititis.User

<div class="detail-row">
    <span class="title">نام کاربری :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Username)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">پست الکترونیکی :</span>
    <span class="value">
        @Html.DisplayFor(m => m.Email)
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">فعال است؟</span>
    <span class="value">
        @Model.IsActive.ToPersian()
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">قفل است؟</span>
    <span class="value">
        @Model.IsLock.ToPersian()
    </span>
</div>
<div class="divider-blank10"></div>
<div class="detail-row">
    <span class="title">ادمین است؟</span>
    <span class="value">
        @Model.IsAdmin.ToPersian()
    </span>
</div>
@if (Model.EditeDate.HasValue)
{
    <div class="divider-blank10"></div>
    <div class="detail-row">
        <span class="title">تاریخ ویرایش :</span>
        <span class="value">
            @Model.EditeDate.Value.ToPersianDate().ToStringDateTime().FaDigit()
        </span>
    </div>
}
<div class="divider-blank15"></div>
<div>
    <button class="button small submit" onclick="loadEditUser()">ویرایش</button>
</div>

<div class="divider-blank50"></div>

<div class="topic-row">
    اطلاعات تکمیلی
</div>
<div class="divider-blank15"></div>
<div class="detail-row">
    <span class="title">تاریخ ایجاد :</span>
    <span class="value">
        @Model.CreateDate.ToPersianDate().ToStringDateTime().FaDigit()
    </span>
</div>
@if (Model.LastLogin.HasValue)
{
    <div class="divider-blank15"></div>
    <div class="detail-row">
        <span class="title">آخرین ورود :</span>
        <span class="value">
            @Model.LastLogin.Value.ToPersianDate().ToStringDateTime().FaDigit()
        </span>
    </div>
}
@if (Model.LockDate.HasValue)
{
    <div class="divider-blank15"></div>
    <div class="detail-row">
        <span class="title">آخرین قفل شدن :</span>
        <span class="value">
            @Model.LockDate.Value.ToPersianDate().ToStringDateTime().FaDigit()
        </span>
    </div>
}
<div class="divider-blank15"></div>
<div class="detail-row">
    <span class="title">تعداد ورود ناموفق :</span>
    <span class="value">
        @Html.DisplayFor(m => m.AccessFailed).FaDigit()
    </span>
</div>
<div class="divider-blank15"></div>
<div>
    <button class="button small submit" onclick="loadResetPassUser()">تغییر پسورد</button>
    <button class="button small error" onclick="loadRemoveUser()">حذف</button>
</div>

<div id="edit_user_form_con" style="display: none;">
    @Html.Partial("Edit", (UserUpdateModel)Model)
</div>

<div id="remove_user_form_con">
    @Html.Partial("Remove", new UserRemoveModel { Id = Model.Id })
</div>

<div id="chnagepass_user_form_con" style="display: none;">
    @Html.Partial("ResetPassword", new UserResetPasswordModel { Id = Model.Id })
</div>