@using Squirrel.Utility.Helpers
@model Squirrel.Domain.ViewModels.UserUpdateModel

<div class="topic-row">
    ویرایش کاربر
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("Edit", "Users", null,
    new AjaxOptions { OnFailure = "onEditUserError", OnSuccess = "onEditUserSuccess" },
    new { id = "user_edit_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-row">
        @Html.LabelFor(m => m.Username)
        @Html.TextBoxFor(m => m.Username, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Username)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.IsActive)
        @Html.DropDownListFor(m => m.IsActive, SelectListExtensions.SelectListOfBool("بله", "خیر", false), new { @class = "select small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.IsActive)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.IsLock)
        @Html.DropDownListFor(m => m.IsLock, SelectListExtensions.SelectListOfBool("بله", "خیر", false), new { @class = "select small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.IsLock)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div class="form-row">
        @Html.LabelFor(m => m.IsAdmin)
        @Html.DropDownListFor(m => m.IsAdmin, SelectListExtensions.SelectListOfBool("بله", "خیر", false), new { @class = "select small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.IsAdmin)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">ثبت</button>
        <a class="button small" onclick="restoreSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#user_edit_form");
        $("#user_edit_form").data("validator").settings.ignore = "";
    })
</script>