@{
    ViewBag.Title = "مدیریت کاربران";
}

<br />
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
    <div class="col-lg-7">
        <div class="panel panel-default">
            <div class="panel-heading">لیست کاربران</div>
            <div class="panel-body">
                <div>
                    <button type="button" class="btn btn-default" onclick="LoadAddUser()">+</button>
                </div>
                <br />
                @Html.Partial("SearchFilter")
            </div>
            <div id="list_result" style="margin: 10px 30px;"></div>
        </div>
    </div>
    <div class="col-lg-5">
        <div id="option_con"></div>
        <br />
        <div id="option_con_2"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">
        $(function () {
            LoadList(1);
        });

        function ReloadList() {
            $('#user_search_from').submit();
        }

        function LoadList(page) {
            $('#searchPage').val(page);
            $('#user_search_from').submit();
        }

        function LoadAddUser() {
            $.ajax({
                url: '@Url.Action("Add", "Users")',
                success: function (r) {
                    $('#option_con').html(r);
                    $('#option_con_2').html('');
                }
            });
        }

        function ActiveUser(e, id) {
            $.ajax({
                url: '@Url.Action("Active", "Users")',
                data: { id: id },
                success: function (r) {
                    if (r == "True") {
                        $(e).next('span').show();
                        $(e).hide();
                    }
                }
            });
        }

        function LockUser(e, id) {
            $.ajax({
                url: '@Url.Action("Lock", "Users")',
                data: { id: id },
                success: function (r) {
                    if (r == "True") {
                        var $parent = $(e).parent();
                        $parent.children('.lock-user').show();
                        $(e).hide();
                    }
                }
            });
        }

        function UnlockUser(e, id) {
            $.ajax({
                url: '@Url.Action("Unlock", "Users")',
                data: { id: id },
                success: function (r) {
                    if (r == "True") {
                        var $parent = $(e).parent();
                        $parent.children('.unlock-user').show();
                        $(e).hide();
                    }
                }
            });
        }

        function LoadDetails(id) {
            $.ajax({
                url: '@Url.Action("Details", "Users")',
                data: { id: id },
                success: function (r) {
                    $('#option_con').html(r);
                }
            });
        }

        function LoadDetailsFromList(id) {
            $.ajax({
                url: '@Url.Action("Details", "Users")',
                data: { id: id },
                success: function (r) {
                    $('#option_con').html(r);
                    $('#option_con_2').html('');
                }
            });
        }

        function AddAdmin(e, id) {
            $.ajax({
                url: '@Url.Action("AddAdmin", "Users")',
                data: { id: id },
                success: function (r) {
                    if (r == "True") {
                        var $parent = $(e).parent();
                        $parent.children('.isadmin').show();
                        $(e).hide();
                    }
                }
            });
        }

        function RemoveAdmin(e, id) {
            $.ajax({
                url: '@Url.Action("RemoveAdmin", "Users")',
                data: { id: id },
                success: function (r) {
                    if (r == "True") {
                        var $parent = $(e).parent();
                        $parent.children('.isnotadmin').show();
                        $(e).hide();
                    }
                }
            });
        }

        function LoadEditUser(id) {
            $.ajax({
                url: '@Url.Action("Edit", "Users")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function LoadRemoveUser(id) {
            $.ajax({
                url: '@Url.Action("Remove", "Users")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function LoadResetPassword(id) {
            $.ajax({
                url: '@Url.Action("ResetPassword", "Users")',
                data: { id: id },
                success: function (r) {
                    $('#option_con_2').html(r);
                }
            });
        }

        function EditCompleteReload(id) {
            ReloadList();
            LoadDetails(id);
        }

        function RemoveCompleteReload() {
            ReloadList();
            $('#option_con').html('');
        }
    </script>
}