@using Squirrel.Domain.ViewModels
@model List<Squirrel.Domain.Enititis.User>

<div class="flatbox">
    @if (Model.Any())
    {
        <table class="table hover-row">
            <thead>
                <tr>
                    <th>نام کاربری</th>
                    <th>پست الکترونیکی</th>
                    <th>نوع کاربری</th>
                    <th>وضعیت ها</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var file in Model)
                {
                    var item = file;
                    <tr onclick="loadUserDetails('@item.Id')">
                        <td>@Html.DisplayFor(m => item.Username)</td>
                        <td style="direction: ltr;text-align: right;">
                            @Html.DisplayFor(m => item.Email)
                        </td>
                        <td>
                            @(item.IsAdmin ? "ادمین" : "عادی")
                        </td>
                        <td>
                            <span>
                                @(item.IsActive ? "فعال" : "غیرفعال")
                            </span>
                            <span>
                                @(item.IsLock ? " - قفل" : "")
                            </span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        if (ViewBag.Paging != null)
        {
            <div class=divider-blank30></div>
            @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
        }
    }
    else
    {
        <div class="no-content">
            موردی وجود ندارد.
        </div>
    }
</div>