@using Squirrel.Domain.ViewModels
@using Squirrel.Utility.FarsiTools
@model List<Squirrel.Domain.Enititis.User>

<table class="table">
    <tbody>
        @foreach (var user in Model)
        {
            var item = user;
            <tr>
                <td>
                    <span style="border-bottom: 1px solid;" onclick="LoadDetailsFromList('@item.Id')">
                        @Html.DisplayFor(m => item.Username)
                    </span>
                </td>
                <td>@Html.DisplayFor(m => item.Email)</td>
                <td>
                    @if (item.IsActive)
                    {
                        <span>Active</span>
                    }
                    else
                    {
                        <span style="color: gainsboro" onclick="ActiveUser(this,'@item.Id')">Active</span>
                        <span style="display: none;">Active</span>
                    }
                </td>
                <td>
                    @if (item.IsLock)
                    {
                        <span class="lock-user" style="color: orangered" onclick="UnlockUser(this,'@item.Id')">Lock</span>
                        <span class="unlock-user" style="color: gainsboro; display: none;" onclick="LockUser(this,'@item.Id')">Lock</span>
                    }
                    else
                    {
                        if (item.LockDate.HasValue && item.LockDate.Value > DateTime.Now)
                        {
                            PersianDate pDate = item.LockDate.Value;
                            <span style="color: orangered" onclick="UnlockUser(this,'@item.Id')">@pDate.ToStringTime()</span>
                            <span class="lock-user" style="color: orangered; display: none;" onclick="UnlockUser(this,'@item.Id')">Lock</span>
                            <span class="unlock-user" style="color: gainsboro; display: none;" onclick="LockUser(this,'@item.Id')">Lock</span>
                        }
                        else
                        {
                            <span class="lock-user" style="color: orangered; display: none;" onclick="UnlockUser(this,'@item.Id')">Lock</span>
                            <span class="unlock-user" style="color: gainsboro;" onclick="LockUser(this,'@item.Id')">Lock</span>
                        }
                    }
                </td>
                <td>
                    @if (item.IsAdmin)
                    {
                        <span class="isnotadmin" style="color: gainsboro;display: none;" onclick="AddAdmin(this,'@item.Id')">Admin</span>
                        <span class="isadmin" onclick="RemoveAdmin(this,'@item.Id')">Admin</span>
                    }
                    else
                    {
                        <span class="isnotadmin" style="color: gainsboro" onclick="AddAdmin(this,'@item.Id')">Admin</span>
                        <span class="isadmin" style="display: none;" onclick="RemoveAdmin(this,'@item.Id')">Admin</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Paging != null)
{
    @Html.Partial("Paging", (PagingModel)ViewBag.Paging)
}
