@model Squirrel.Domain.ViewModels.UserResetPasswordModel

<div class="topic-row">
    تغییر پسورد
</div>
<div class="divider-blank15"></div>

@using (Ajax.BeginForm("ResetPassword", "Users", null,
    new AjaxOptions { OnFailure = "onResetPassUserError", OnSuccess = "onResetPassUserSuccess" },
    new { id = "user_resetpass_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)

    <div class="form-row">
        @Html.LabelFor(m => m.Password)
        @Html.TextBoxFor(m => m.Password, new { @class = "textbox small" })
        <div class="validation">
            @Html.ValidationMessageFor(m => m.Password)
        </div>
    </div>
    <div class="divider-blank15"></div>
    <div>
        <button type="submit" class="button small submit">ثبت</button>
        <a class="button small" onclick="restoreSecondryContent()">انصراف</a>
    </div>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#user_resetpass_form");
    })
</script>