@model Squirrel.Domain.ViewModels.UserResetPasswordModel

<h4>تغییر پسورد کاربر</h4>

@Html.Partial("_Message")

@using (Ajax.BeginForm("ResetPassword", "Users", null, new AjaxOptions { UpdateTargetId = "option_con_2" }, new { id = "user_details_form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.Id)



    <p class="form-group">
        @Html.LabelFor(m => m.Password)
        <br />
        @Html.TextBoxFor(m => m.Password)
        @Html.ValidationMessageFor(m => m.Password)
    </p>

    <p>
        <button type="submit" class="btn btn-default">ذخیره</button>
        <button type="button" class="btn btn-default" onclick="$('#option_con_2').html('');">انصراف</button>
    </p>
}

<script type="text/javascript">
    $(function () {
        $.validator.unobtrusive.parse("#user_details_form");
    })
</script>